@import url('https://fonts.googleapis.com/css?family=poppins:300,400,')
*
{
	outline: none !important;

}
body
{
	font-family: 'poppins', sans-serif;
}
header
{
	position: relative;
	z-index: 1000000;
}
p
{
	font-size: 1.15rem
}
.navbar.scrolled
{
	background: #fff;
}
.navbar
{
	background: transparent!important;
	transition: 0.5s;

}
.navbar.scrolled
{
	background: #fff !important;
	transition: 0.5s;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    background: #000;
}
.navbar-light .navbar-nav .nav-link {
    color:#000;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
    color: rgba(255,255,255,.80);
}
.navbar-light .navbar-brand, 
.navbar-light .navbar-brand:hover, 
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited 
{
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
   
}
.image-top{
            width: 100%;
            height:103vh;
            background-image: url(https://s3-ap-southeast-1.amazonaws.com/jurnal-blog-assets/wp-content/uploads/2018/11/15021952/Jurnal_Blog_Mengenal-Sistem-Inventory-_-Cara-Mudah-Pengelolaannya.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 2px;
         }
         .lapisanimage{
              width: 100%;
             height:103vh;
             background-color: rgba(48, 39, 48, 0.60);
             margin-top: -10px;
            }
            .txt-it1{
               color: #fff;
               font-family:  roman;
               padding-top: 180px;
               padding-left:px;
               font-size: 60px; 
               text-decoration: none; 
            }

              .txt-it2{
                  color: #fff;
                  font-family: roman;
                  padding-left:-20px; 
                  font-size:40pt;
                  width: 550px;
                  margin-top: -20px;
              }
.banner
{
	position: relative;
	top:0;
	width: 100%;
	height: 100vh;
	background: url('../../assets/img/gng.jpg');
	background-size: cover;
	margin-bottom: 0;
}
.banner:before,
.sec2:before,
.contact:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(#000,transparent);
	pointer-events: none;
}
.banner:after,
.sec2:after,

{
	content: '';
	position: absolute;
	bottom: : 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(360deg,#000,transparent);
	pointer-events: none;
}
.height100p
{
	height: 100%;
}
.h100{
	height: 100%;
}
.contentBox
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}
.contentBox h1{
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 5rem;
}
.contentBox p
{
	color: #fff;
	font-size: 1.3rem;
}
.sec1
{
	padding: 20px 20px;
	background: #fff;
}
.headerText {
	color: #000;
}
.headerText h2
{
	font-size: 2.5rem;
	margin-bottom: 50px;
	padding: 50px 50px 50px 50px;
}
.placeBox{
	position: relative;
	max-width: 300px;
	height: 400px;
	margin: 0 auto;
	background: #000;
	margin-top: 30px;
}
.placeBox .imgBx{
width: 100%;
height: 100%;
}
.placeBox .imgBx img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.placeBox .content
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: baseline;
	align-items: flex-end;

}
.placeBox .content h3
{
	position: relative;
	margin: 0;
	padding: 10px;
	background: rgba(0,0,0,.95);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	width: 100%;
	text-align: center;
}
.placeBox .content h3 span
{
	font-size: 16px;
	font-weight: 500;
}
.sec2
{
	position: relative;
	background: url(../../assets/img/ooo.jpg);
	background-size: cover;
	height: 80vh;
}
.sec2 h2
{
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	font-size: 4.5rem;
	text-align: center!important;
}
.btnD1{
	border: 2px solid #fff;
	color: #fff;
	background: #000;
	border-radius: 50px;
	padding: 15px 50px;
	font-size: 1.15rem;
	outline: none;
	font-weight: 500;
	margin-top: 20px;
}
footer {
    height: auto;
	background-color: #fff;
	display: flex;
  	flex-flow: row wrap;
  	padding-top: 50px;
    justify-content: center;
    margin-top: 100px;
}
.konten1{
	float: left;
	width: 300px;
	height: 350px;
}
.konten1 h3{
	font-weight: 700;
	margin-left: 20px;
	color: #000;
}
.line{
	background-color: #2196f3;
	height: 74px;
	width: 5px;
	margin-right: 5px;
	float: left;
}
.konten1 p{
	color: #000;
	margin-top: 20px;
}
.konten2{
	float: left;
	width: 300px;
	height: 350px;
	color: #000;
}
.konten2 li{
	list-style: none;
	text-decoration: none;
}
.konten2 a{
	text-decoration: none;
	list-style: none;
	color: #000;
	transition: 0.2s;
}
.konten2 a:hover {
	text-decoration: none;
	list-style: none;
	color: #2196f3;
}
.line2{
	float: left;
	width: 90%;
	height: 4px;
	background-color: #333333;
	margin-bottom: 10px;
}
.l-line{
	width: 70px;
	height: 4px;
	float: left;
	background-color: #2196f3;
}
.konten3 li{
	list-style: none;
	text-decoration: none;
}
.konten3 li a i{
	color: #000;
	font-size: 25px;
	margin-top: 20px;
	float: left;
	transition: 0.2s;
	list-style: none;
	background-color: #333333;
	text-decoration: none;
}
.konten3{
	float: left;
	width: 300px;
	height: 350px;
	color: #000;
	font-family: arial;
}
.konten3 .t:hover{
	background: #000;
	color: #55acee;
}
.konten3 .f:hover{
	background: #000;
	color: #3b5999;
}
.konten3 .i:hover{
	background: #000;
	color: #4870FF;
}
.konten3 .y:hover{
	background: #000;
	color: red;
}
.konten4{
	float: left;
	width: 300px;
	height: 350px;
	color: #000;
}
.konten4 p{
	float: left;
}
.footer-bottom{
	width: 100%;
	height: auto;
	background-color:  #f7ddd7;
}
.footer-bottom p{
	text-align: center;
	color: #000;
	line-height: 60px;
	font-size: 17pt;
	font-weight: 300;
	margin: 0;
}