@import url('https://fonts.googleapis.com/css?family=poppins:300,400,')
*
{
	outline: none !important;

}
body
{
	font-family: 'poppins', sans-serif;
}
header
{
	position: relative;
	z-index: 1000000;
}
p
{
	font-size: 1.15rem
}
.navbar.scrolled
{
	background: #fff;
}
.navbar
{
	background: transparent!important;
	transition: 0.5s;

}
.navbar.scrolled
{
	background: #000 !important;
	transition: 0.5s;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #000;
    background: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
     color: blue;
}
.navbar-light .navbar-brand, 
.navbar-light .navbar-brand:hover, 
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited 
{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
   
}
.image-top{
            width: 100%;
            height:100vh;
            background-image: url(https://s3-ap-southeast-1.amazonaws.com/jurnal-blog-assets/wp-content/uploads/2018/11/15021952/Jurnal_Blog_Mengenal-Sistem-Inventory-_-Cara-Mudah-Pengelolaannya.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 2px;
         }
         .lapisanimage{
              width: 100%;
             height:100vh;
             background-color: rgba(48, 39, 48, 0.80);
             margin-top: -10px;
            }
            .txt-it1{
               color: #fff;
               font-family:  roman;
               padding-top: 180px;
               padding-left:px;
               font-size: 60px; 
               text-decoration: none; 
            }

              .txt-it2{
                  color: #fff;
                  font-family: roman;
                  padding-left:-20px; 
                  font-size:40pt;
                  width: 550px;
                  margin-top: -20px;
              }
.banner
{
	position: relative;
	top:0;
	width: 100%;
	height: 100vh;
	background: url('../../assets/img/gng.jpg');
	background-size: cover;
	margin-bottom: 0;
}
.banner:before,
.sec2:before,
.contact:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(#000,transparent);
	pointer-events: none;
}
.banner:after,
.sec2:after,

{
	content: '';
	position: absolute;
	bottom: : 0;
	left: 0;
	width: 100%;
	height: 400px;
	background: linear-gradient(360deg,#000,transparent);
	pointer-events: none;
}
.height100p
{
	height: 100%;
}
.h100{
	height: 100%;
}
.contentBox
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}
.contentBox h1{
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 5rem;
}
.contentBox p
{
	color: #fff;
	font-size: 1.3rem;
}
.sec1
{
	padding: 20px 20px;
	background: #000;
}
.headerText {
	color: #fff;
}
.headerText h2
{
	font-size: 2.5rem;
	margin-bottom: 50px;
	padding: 50px 50px 50px 50px;
}
.placeBox{
	position: relative;
	max-width: 300px;
	height: 400px;
	margin: 0 auto;
	background: #000;
	margin-top: 30px;
	margin-left: 100%;
}
.placeBox{
	position: relative;
	max-width: 300px;
	height: 400px;
	margin: 0 auto;
	background: #000;
	margin-top: 30px;
	margin-left: 100%;
}

.placeBox .imgBx{
width: 100%;
height: 100%;
}
.placeBox .imgBx img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.placeBox .content
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 95%;
	display: flex;
	justify-content: baseline;
	align-items: flex-end;
	float: left;

}
.placeBox .content h3
{
	position: relative;
	margin: 0;
	padding: 10px;
	background: rgba(0,0,0,.95);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	width: 100%;
	text-align: center;
}
.placeBox .content h3 span
{
	font-size: 16px;
	font-weight: 500;
}
.sec2
{
	position: relative;
	background: url(../../assets/img/u.jpg);
	background-size: cover;
	height: 100vh;
}
.sec2 h2
{
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
	font-size: 4.5rem;
}
.btnD1{
	border: 2px solid #fff;
	color: #000;
	background: #fff;
	border-radius: 50px;
	padding: 15px 50px;
	font-size: 1.15rem;
	outline: none;
	font-weight: 500;
	margin-top: 20px;
}
.contact{
	position: relative;
	padding: 100px 0;
	background: url(../../assets/img/8.jpg);
	background-size: cover;
	min-height: 100vh;
}
.contact form{
	position: relative;
	z-index: 1000;
}
.contact .form-control
{
	background: transparent;
	border: 20px;
	border-bottom: 2px solid rgba(255,255,255,.2);
	height: 50px;
	border-radius: 0;
	background: rgba(0,0,0,.6);
	color: #fff;
	font-size: 1.25rem;

}
.contact .form-control:focus,
.contact .form-control:hover
{
	border: none;
	border-bottom: 2px solid rgba(255,255,255,.1);
	box-shadow: none;

}
.contact .textarea
{
	min-height: 100px;
}
.contact label
{
	color: #fff;
	font-size: 1.25rem;
}


