@import url('https://fonts.googleapis.com/css?family=poppins:300,400,')
*
{
	outline: none !important;

}
body
{
	font-family: 'poppins', sans-serif;
	max-width: 100% !important;
	background: url('../img/lo.jpg');
}
header
{
	position: relative;
	z-index: 1000000;
	width: 20% !important;
}
p
{
	font-size: 1.15rem
}
.navbar.scrolled
{
	background: #fff;
}
.navbar
{
	background: transparent!important;
	transition: 0.5s;

}
.navbar.scrolled
{
	background: #fff !important;
	transition: 0.5s;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    background: #000;
}
.navbar-light .navbar-nav .nav-link {
    color:#000;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
{
    color: blue;
}
.navbar-light .navbar-brand, 
.navbar-light .navbar-brand:hover, 
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited 
{
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
   
}
/* .big-box {
	height: auto;
	width: 80%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
} */

/* .box1 {
	width: 230px;
	height: 300px;
	background-color: rgba(200, 212, 249, 0.9);
	margin: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 13px #707070;

} */

/* .box1 img {
	width: 170px;
	border-radius: 30px 30px 0 0;
	margin-top: 30px;
	margin-bottom: 30px;
	padding:10px 10px 10px 10px; 
	margin-left: 20px;
} */

/* .box2 {
	width: 230px;
	height: 300px;
	background-color:  rgba(200, 212, 249, 0.9);
	margin: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 13px #707070;
}

.box2 img {
	width: 180px;
	border-radius: 30px 30px 0 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.box3 {
	width: 230px;
	height: 300px;
	background-color: rgba(200, 212, 249, 0.9);
	margin: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 13px #707070;
}

.box3 img {
	width: 180px;
	border-radius: 30px 30px 0 0;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.box4 {
	width: 230px;
	height: 300px;
	background-color:rgba(200, 212, 249, 0.9);
	margin: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 13px #707070;
}

.box4 img {
	width: 250px;
	border-radius: 30px 30px 0 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

.box5 {
	width: 230px;
	height: 300px;
	background-color:rgba(200, 212, 249, 0.9);
	margin: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 13px #707070;
}

.box5 img {
	width: 130px;
	border-radius: 30px 30px 0 0;
	margin-top: 60px;
	margin-bottom: 50px;
}

.box6 {
	width: 230px;
	height: 300px;
	background-color:rgba(200, 212, 249, 0.9);
	margin: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 13px #707070;
}

.box6 img {
	width: 130px;
	border-radius: 30px 30px 0 0;
	margin-top: 30px;
	margin-bottom: 40px;
}

.box7 {
	width: 230px;
	height: 300px;
	background-color: rgba(200, 212, 249, 0.9);
	margin: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 13px #707070;
}

.box7 img {
	width: 180px;
	border-radius: 30px 30px 0 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.box8 {
	width: 230px;
	height: 300px;
	background-color: rgba(200, 212, 249, 0.9);
	margin: 30px;
	border-radius: 30px;
	box-shadow: 0px 0px 13px #707070;
}

.box8 img {
	width: 180px;
	border-radius: 30px 30px 0 0;
	margin-top: 50px;
	margin-bottom: 50px;
} */

/* .button2 a {
	border: solid 4px #414143; 
	background-color: #fff;
	border-radius: 30px;
	padding: 10px 50px 10px 50px;
	font-size: 26px;
	color: #414143;
	transition: 0.4s;
	font-family: arial;
	margin-top: 10px;
}

.button2 a:hover {
	text-decoration: none;
	background-color: #414143;
	color: #fff;
}

.button3 a {
	border: solid 4px #414143;
	background-color: #fff;
	border-radius: 30px;
	padding: 3px 20px 3px 20px;
	font-size: 20px;
	color: #414143;
	transition: 0.4s;
	font-family: arial;
}

.button3 a:hover {
	text-decoration: none;
	background-color: #414143;
	color: #fff;
} */









