.navbar-inverse .container-fluid{
    background-color: rgba(16, 0, 197, 0.3);
} 
.text-center{
background-color: rgba(16, 0, 197, 0.3);
height: 30px;
width: auto;
}
.fluid-container {
    background-image: url(""../../assets/img/rt.jpg"");
    background-size: cover;
    height: 1024px;
}
.form-group{
padding-left: 10%;
padding-right: 10%;
padding-bottom: 2px;

}

.body{
    width: 380px;
    height: 400px;
    border-radius: 20px;
    margin: auto;
    background: rgba(200, 212, 249, 0.9);
}
.input {
    padding: 30px;
    margin-top: 30px;
    border: none;
}


input ::placehollder{
    color: #808080;
    font-size: 20px;
    font-family: lato;
}